*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container__card-pokeapi{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 20px;
    /* display: flex;
    flex-wrap: wrap;
    gap: 20px; */
}